<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <nb-card class="as-case-card">
                <nb-card-header>
                    <nb-actions>
                        <nb-action class="control-item">
                            <h5 class="as-m-r-1"><i class="fa fa-qrcode"></i></h5>
                            <h5>{{ "Qr-Code" | localize }}</h5>
                        </nb-action>
                        <nb-action class="control-item ">
                        </nb-action>
                    </nb-actions>
                </nb-card-header>
                <nb-card-body class="as-case-card-body">
                    <ejs-grid id="QrCodeRequestGrid" #srCodeRequestGrid [dataSource]="srCodeRequests" [allowPaging]="true"
                        [allowSorting]="true" [allowFiltering]="true"  [pageSettings]="pageSettings"
                        [filterSettings]='filterOption'>
                        <!--toolbar-->
                        <ng-template #toolbarTemplate>
                            <ejs-toolbar>
                                <div>
                                    <!-- <div style="width: 5px;"></div> -->
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary e-small e-round"
                                            iconCss="e-icons e-plus" (click)="showCreateDialog()"
                                            *ngIf="permission.isGranted('Actions.QrCodeRequests.Create')"></button>
                                    </div>
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary-outline"
                                            iconCss="e-icons e-filter-clear-3"> <span
                                                class="as-btn-text">{{'ClearFilters' | localize}}</span></button>
                                    </div>
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary-outline"
                                            iconCss="e-icons e-sorting"> <span class="as-btn-text">{{'ClearSorts' |
                                                localize}}</span></button>
                                    </div>
                                </div>
                            </ejs-toolbar>

                        </ng-template>
                        <!--Columns-->
                        <e-columns>
                             <e-column headerText="{{l('Commands')}}" textAlign='Center' width="300">
                                <ng-template #template let-data>
                                    <span class="">
                                        <button ejs-button cssClass="as-btn-primary-outline e-small" (click)="print(data.id)">
                                            <nb-icon icon="printer-outline"></nb-icon>
                                            Print Qr-Code
                                        </button> 
                                    </span>
                                    <span class="as-m-l-2"><button ejs-button
                                            cssClass="as-btn-danger-outline e-small e-round" iconCss="e-icons e-trash"
                                            (click)="delete(data)"
                                            *ngIf="permission.isGranted('Actions.QrCodeRequests.Delete')"></button></span>
                                </ng-template>
                            </e-column>
                            <e-column field="id" headerText="Id" isPrimaryKey="true" [visible]="false"></e-column>
                            <e-column field="product.name" headerText="{{'Product' | localize}}" textAlign="center"></e-column>
                            <e-column field="count" headerText="{{'Count' | localize}}" textAlign="center"></e-column>
                            <e-column field="date" headerText="{{'Date' | localize}}" format="dd/MM/yyyy" textAlign="center">
                            </e-column>

                        </e-columns>
                    </ejs-grid>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>