<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <nb-card class="as-case-card">
                <nb-card-header>
                    <nb-actions size="small">
                        <nb-action class="control-item">
                            <h6><span class="fa fa-gift"></span>{{ "GiftRequests" | localize }}</h6>
                        </nb-action>
                        <nb-action class="control-item ">
                        </nb-action>
                    </nb-actions>
                </nb-card-header>
                <nb-card-body class="as-case-card-body">
                    <ejs-grid id="GiftRequestGrid" #giftRequestGrid [dataSource]="giftRequests" [query]="param" [allowPaging]="true"
                            [allowSorting]="true" [allowFiltering]="true"
                            [pageSettings]="pageSettings" [filterSettings]="filterOption">
                        <!--toolbar-->
                        <ng-template #toolbarTemplate>
                            <ejs-toolbar>
                                <div>
                                    <!-- <div style="width: 5px;"></div> -->
                                    <!-- <div>
                                        <button ejs-button cssClass="as-btn-primary e-small e-round" iconCss="e-icons e-plus" (click)="showCreateDialog()" *ngIf="(permission.isGranted('Actions.GiftRequests.Create') && levelName != undefined)"></button>
                                    </div> -->
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary-outline" iconCss="e-icons e-filter-clear-3" (click)="clearFilters()"> <span class="as-btn-text">{{'ClearFilters' | localize}}</span></button>
                                    </div>
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary-outline" iconCss="e-icons e-sorting" (click)="clearSorts()"> <span class="as-btn-text">{{'ClearSorts' | localize}}</span></button>
                                    </div>
                                </div>
                            </ejs-toolbar>

                        </ng-template>
                        <!--Columns-->
                        <e-columns>
                            <e-column headerText="{{l('Commands')}}" textAlign='Center' width="200">
                                <ng-template #template let-data>
                                    <span class="as-m-l-2">
                                        <button ejs-button cssClass="as-btn-primary-outline" (click)="showChangeStatusDialog(data)"> 
                                            <nb-icon icon="flip-2-outline"></nb-icon>
                                            <span class="as-btn-text">{{'ChangeStatus' | localize}}</span>
                                        </button>
                                    </span>
                                </ng-template>
                            </e-column>
                            <e-column field="id" headerText="Id" isPrimaryKey="true" [visible]="false"></e-column>
                            <e-column field="gift.name" headerText="{{'Gift' | localize}}" textAlign="center"></e-column>
                            <e-column field="user.fullName" headerText="{{'User' | localize}}" textAlign="center"></e-column>
                            <e-column field="date" headerText="{{'Date' | localize}}" textAlign="center" format="dd/MM/yyyy hh:mm"></e-column>
                            <e-column field="status" headerText="{{'Status' | localize}}" textAlign="center">
                                <ng-template #template let-data>
                                    <span class="as-status as-status-primary" *ngIf="data.status == 0">{{'Pending' | localize}}</span>
                                    <span class="as-status as-status-danger" *ngIf="data.status == 1">{{'Informed' | localize}}</span>
                                    <span class="as-status as-status-success" *ngIf="data.status == 2">{{'Handing' | localize}}</span>
                                </ng-template>

                            </e-column>
                        </e-columns>
                    </ejs-grid>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    
</div>
